{% extends 'base.html' %}

{% block head %}
GROUP LIST
{% endblock head %}


{% block header %}
    <h1 align="center">GROUP LIST</h1>
{% endblock header %}


{% block cont %}

<form action="{% url 'filt-group' %}" method="get">
    <input name="push">
    <input name="submit" type="submit">
</form>

<form action="{% url 'add-group' %}">
    <button name="add">ADD GROUP</button>
</form>




    <table style="width:100%" border="1px solid #000">
      <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>Curator</th>
        <th>Headman</th>
        <th>Name</th>
      </tr>
              {% for group in generate_groups %}
      <tr>
        <td width="10"><a href="{% url 'edit-group' group.id %}">Edit</a></td>
        <td width="10">{{group.id}}</td>
        <td width="20">{{group.curratt}}</td>
        <td width="20">{{group.headman}}</td>
        <td width="20">{{group.name}}</td>
      </tr>
        {% endfor %}
    </table>

{% endblock cont %}