{% extends 'base.html' %}

{% block head %}
TEACHER LIST
{% endblock head %}


{% block header %}
    <h1 align="center">TEACHER LIST</h1>
{% endblock header %}


{% block cont %}

<form action="{% url 'filt-teacher' %}" method="get">
    <input name="add">
    <input name="submit" type="submit">
</form>

<form action="{% url 'add-teacher' %}">
    <button name="add">ADD TEACHER</button>
</form>



    <table style="width:100%" border="1px solid #000">
      <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Card</th>
        <th>Birth Date</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
              {% for teacher in generate_teacher %}
      <tr>
        <td width="5"><a href="{% url 'edit-teacher' teacher.id %}">Edit</a></td>
        <td width="5">{{teacher.id}}</td>
        <td width="15">{{teacher.first_name}}</td>
        <td width="15">{{teacher.last_name}}</td>
        <td width="15">{{teacher.credit_card}}</td>
        <td width="15">{{teacher.birth_date}}</td>
        <td width="15">{{teacher.email}}</td>
        <td width="15">{{teacher.address}}</td>
      </tr>
        {% endfor %}
    </table>

{% endblock cont %}